export PATH=$PWD/Tools/Scripts:$PATH
export CC=clang
export CXX=clang++
export DISPLAY=:0

if [ ! -z ${GST} ]; then
    export GST_BUILD_PATH=$HOME/gst/gst-build
    export GST_BUILD_ARGS="-Dgst-plugins-good:v4l2-gudev=disabled"
fi
